<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<img src = "photo_url">

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @post.resume %> 
</p>
