<!-- nice job leveraging partials, but this setup looks very similar to that of the rails guides tutorial. I feel that you have a strong grasp on those structures now, I would encourage you to break from this mold and try and customize this application to give it your own flavor. -->
<p>
  <strong class = "labels">Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong class = "labels">Comment:</strong>
  <%= comment.content %>
</p>

<button>
  <%= link_to 'Delete Comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</button>
