<form method="get" action="/">
  <label>City:</label>
  <input name="city" type="text">
  <label>Category:</label>
  <input name="name" type="text">
  <input type="submit">
</form>


<p> Meetups for <%= "#{@meetup.city}" %> are listed here: <%= "#{@meetup.name}" %> <%= "#{@meetup.meetup_url}" %></p>
