
<p>
  <strong class = "labels">Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong class = "labels">Comment:</strong>
  <%= comment.content %>
</p>

<button>
  <%= link_to 'Delete Comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</button>
